.cliente-details {
    display: flex;
    flex-direction: column;

    padding: 8px;
    margin-top: 10px;

    #cliente-details-identificador {
        display: none;
    }

    > * {
        margin: 6px 0;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
    
    > * {
        margin-right: 8px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

::ng-deep {
    .cdk-overlay-container {
        display: flex;
        justify-content: center;
    }
}